.videotest {
    width: 40%;
    height: 30vh;
    z-index: 1;
}

.header {
    font-family: system-ui;
    font-size: 3rem;
    text-align: center;
}

.description {
    text-align: center;
    max-width: 45ch;
    margin: 0 auto;
    color: rgb(240, 238, 238);
}

.indiv {
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
    margin-bottom: 20%;
    margin-top: 2rem;
}

.videotest {
    padding: .5rem;
   /**background: rgba(191, 185, 188, 0.2); */
    border-radius: 5px;
}

.rightsidetext {
    width: 50%;
    text-align: center;
}

.line {
    border-left: 1px solid;
    height: 100vh;
    position: absolute;
    margin-left: 5rem;
    z-index: 0;
}

.allvidsdiv {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.allvidstxt {

}

.ytimg {
    width: 3rem;
    height: auto;
}

@media (max-width: 500px) {
    .indiv {
        flex-wrap: wrap;
    }

    .videotest {
        width: 95%;
        height: 20vh;
    }

    .rightsidetext {
        width: 95%;
    }

    .line {
        display: none;
    }
}


.mainsect {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: .6rem;
    height: 85vh;
    transition: grid-template-columns 625ms ease;
    transition-delay: 250ms;    
}

.filmsect {
    background-image: url("/grupomedanos.jpg");
    background-size: 100vw;
    background-size: cover;
    filter: grayscale(100%);
    transition: all 800ms ease;
}

.filmmain {

}

.programmingsect {
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    filter: grayscale(100%);
    background-size: 60vw;
    background-color: black; 
    transition: all 800ms ease;
}


.filmheader, .programmingheader{
    margin-left: 1rem;
    position: absolute;
    bottom: 1rem;
    font-family: "Gemunu Libre";
    font-size: 3rem;
    color: white;
    
}

.filmmain, .programmingmain {
    opacity: 0;
    max-width: 100%;
    font-family: "Montserrat";
    padding: 1rem;
    line-height: 1.5;
    margin: .1rem 1rem;
    transition-delay: 1s;
    transition: opacity 1s ease;
    font-weight: 600;
}

.filmmain {
    color: black;
}

.filmmore, .programmingmore {
    color: black;
}

.filmmore, .programmingmore {
    opacity: 1;
    position: absolute;
    bottom: 0;
    margin-left: 1rem;
    cursor: pointer;
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.filmmore:hover, .programmingmore:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .mainsect {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%; 
        margin-top: 2rem;
    }

    .programmingsect {
        background-size: 100vw;
    }

    .filmmore, .programmingmore {
        position: absolute;
        bottom: none;
        margin-left: 1rem;
        cursor: pointer;
        background-color: white;
        padding: none;
        border-radius: 5px;
        z-index: 99;
    }

    .filmheader, .programmingheader {
        margin-left: 1rem;
        position: relative;
    }
}