.videotest {
    width: 40%;
    height: 30vh;
    z-index: 1;
}

.indiv {
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
    margin-bottom: 20%;
    margin-top: 2rem;
}

.rightsidetext {
    width: 50%;
    text-align: center;
}

.line {
    border-left: 1px solid;
    height: 100vh;
    position: absolute;
    margin-left: 5rem;
    z-index: 0;
}

@media (max-width: 500px) {
    .indiv {
        flex-wrap: wrap;
    }

    .videotest {
        width: 95%;
        height: 20vh;
    }

    .rightsidetext {
        width: 95%;
    }

    .line {
        display: none;
    }
}