.container {
    margin-top: 2rem;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.sideimage {
    width: 45%;
    height: auto;
    border-radius: 10px;
}

.skills {
    background-color: rgb(33, 33, 33);
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 50%;
    display: block;
    margin: 2rem auto;
}

.maintext {
    
}

.mainheader {
    font-family: "Inter";
    cursor: pointer;
}

.mainheader:hover {
    text-decoration: underline;
}

.maindescription {
    max-width: 50ch;    
    font-family: "Inter";
    font-weight: 300;
}

@media (max-width: 540px) {
    .sideimage {
        width: 90%;
    }
    .maintext {
        max-width: 90%;
    }

    .project {
        padding-bottom: 2rem;
        border-bottom: 1px solid rgb(82, 81, 81);
    }
}