.indivproj {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.sideimg {
    width: 45%;
    height: auto;
    border-radius: 10px;
}

.sectheader {
    color: white;
    text-align: center;
}

.headerlink {
    text-decoration-color: white;
}

.inprogress {
    text-align: center;
}

.sidetxt {
    width: 45%;
}

.sitebtn {
    background: none;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 5px;
    padding: .35rem .6rem;
    cursor: pointer;
}