---

import Layout from "../layouts/Layout.astro";
import styles from '../styles/Other.module.css'

---



<Layout>
    <div class={styles.container}>
        <div class={styles.buttoncontainer}>
            <a href="/photo">
                <button class={styles.button}>photos</button>
            </a>
            <a href="/blog">
                <button class={styles.button}>blog</button>
            </a>
        </div>
    </div>
</Layout>